body{
	background-color: #fff;
	margin: 0;
	padding: 0;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
	border-color: rgba(255,255,255,.1);
	float: right;
	margin-top: 8px;

}
.container-1{
	background-color:  #87509c;
	width:100%;
}

@media(min-width:992px){
	.container-1{
		padding-top:30px;
		}
}
@media(max-width:992px){
	.header{
		padding-bottom:30px;
		}
} 
li{
display: inline-block;
}
li:hover{
	background-color: #643a79;
	border-radius: 5px;
	box-sizing: border-box;	

}

a{
	text-decoration: none;
	padding: 0 20px;
	color: #fff; 
}
.introduction{
	/*background-color: green;*/
	text-align: center;
	margin: 0 auto;
	color: #fff;
	margin-top: 10px;
}



.partnership{
	height: 65px;
	width: 20%;
	background: #eb7d4b;
	border-style: none;
	color: #fff;
	margin-top: 100px;
	margin-bottom: 100px; 
	border-bottom: 5px solid #c86a40;
}
h1{
	margin-top: 150px;
	font-size: 30px;
}

hr{
	width: 90px;
	height: 4px;
	border-style: none;
	background-color: #14a58c;
}

p{
	font-size: 16px;
}

.container-2{
	background-color:  #17c2a4;
	width:100%;
	color: #fff;
	text-align: center;
}
.services{
	margin: 0 auto;
	/*background: yellow;*/
}
.service{
	margin: 0 auto;
	text-align: center;
}
.service-1{
	/* width: 200px;
	height: 300px; */
	/*background-color: green;*/
	float: left;
	/* margin-right: 100px;
	margin-top: 100px; */
}
.service1{
	/*background-color: green;*/
	float: left;

}
h2{
	color: #3c4761;
}
h3{
	text-transform: uppercase;
	color: #3c4761;
}

.container-3{
	background-color:  #e7f1f8;
	width:100%;
	
}

.teams{
	
	text-align: center;
	margin: 0 auto;

}
.img{

	margin-top: 100px;

}
.team{

	float: left;
	text-align: center;
}
.team1{
	
	float: left;
	
}
.person1{
	width: 200px;
	height: 200px;
	margin-left: auto;
    margin-right: auto;
	border-radius: 100px;
	background-color:  #878787;
}
.fa {
 
  text-align: center;
  text-decoration: none;

  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #bdd1df;
  color: white;
}

.fa-twitter {
  background: #bdd1df;
  color: white;
}


.fa-linkedin {
  background: #bdd1df;
  color: white;
}


.fa-envelope-o {
  background: #bdd1df;;
  color: white;
}



.container-4{
	background-color:  #fff;
	width:100%;
	text-align: center;
}


.skills{
	/*background-color: yellow;*/
	text-align: center;
	width: 1200px;
	margin: 0 auto;

}

.chart{
	
	float: left;
	
}


.container-5{
	background-color:  #ffdd99;
	width:100%;
}
.container-6{
	background-color:  #d74680;
	width:100%;
}
.container-7{
	background-color:  #3c5499;
	width:100%;
	color: #fff;
	text-align: center;
}
.contact{
/*	background-color: green;*/
	margin-top: 80px; 
	margin: 0 auto;

}

textarea{
	width:100%;
}
.bar-1 input{
	height: 50px;
	border-style: none;
	background: #273a71;
	border-style: none;
	width: 95%;
    margin-left: 5px;
	border-radius: 3px;
}
.bar-2 textarea{
	border-style: none;
	height: 100px;
	border-radius: 3px;
	margin-top: 28px;
	background: #273a71;
}

.footer{
	width: 100%;
	background-color: #344b8e;
}